<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="https://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 https://www.springframework.org/schema/beans/spring-beans.xsd
 https://www.springframework.org/schema/context
 https://www.springframework.org/schema/context/spring-context.xsd">
 
	 <bean id="student" class="com.excel.spring.Student">
		<property name="id" value="0907"></property>
		<property name="name" value="Sachin"></property>
		<property name="address" value="Mysore"></property>
	 </bean> 
	 
	 <bean name="student1" class="com.excel.spring.Student">
		<property name="id" value="0007"></property>
		<property name="name" value="Name2"></property>
		<property name="address" value="Address2"></property>
	 </bean>
	 
	<bean class="com.excel.spring.Student" name="student2" p:id="123" p:name="Name3" p:address="New Address"></bean>

</beans>